img {
  margin: auto;
  display: block;
  height: 100px;
  width: 100px;
}

h1, h2 {
  text-align: center;
}

.border {
  border: solid green 2px;
  overflow: hidden;
  background-color: beige;
}

.profile {
  display: block;
  width: 16%;
  margin: 2%;
  padding: 2%;
  background-color: grey;
  float: left;
}

.profile h3 {
  text-align: center;
}
